  <section>
  <form id="search-form">

    <style>
      .input-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    </style>
    <div class="input-group">
        <div class="form-outline">
            <label class="form-label" for="search"> Type in your dream car: </label>
            <input type="text" id="search" class="form-control" />
        </div>
        <button type="button" class="btn btn primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
  </form>
  <ul>
    {{#each giphyData}}
    <li>
        <img src="{{url}}" alt="{{alt}}" />
    </li>
    {{/each}}
  </ul>

  </section>

  <script src="/js/search-giphy.js"></script>

  {{!-- Fix styling, center search bar and giphy images --}}