 <div class="hero bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Welcome to our Car Fix Blog</h1>
        <p></p>
    </div>
</div>

<!--<style>
    .post-container {
        display: flex;
        justify-content: center;
 .post { 
        margin-bottom: 1em;
    } 
</style>-->

<div class="post-container">
    {{#each posts as |post|}}
Expand All
	@@ -33,7 +33,7 @@

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center text-white">
        <span>&copy; 2023 TravelBlog. All rights reserved.</span>
    </div>

    {{#if loggedIn}}
Expand Down
	