 <div class="hero bg-primary text-white text-center py-5">
    <div class="container">
      <h1>Welcome to the Travel Blog</h1>
      <p></p>
    </div>
  </div>

  <div>
    {{>giphySearch}}
  </div>

  <footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center text-white">
    <span>&copy; 2023 Travel Blog. All rights reserved.</span>
  </div>
</footer>
