
<h2>Your Posts</h2>

<button type="submit" class="btn new-post-button"><a class="link" href="/userdash/new">+ New Post</a></button>
<section>
{{#if posts.length}}

  
    {{#each posts as |post|}}
      {{> userdash-postinfo post}}
    {{/each}}


{{/if}}
</section>
<script src="/js/add-post.js"></script>